<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Potaful">

        <!-- Activities lain -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.RecommendationPlantResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.RecommendationPlantLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeUserActivity"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".ui.splash.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Callback Activity untuk menerima potafull://auth/callback -->
        <activity
            android:name=".ui.auth.GoogleAuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- potafull://auth/callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:pathPrefix="/callback"
                    android:scheme="potafull" />
            </intent-filter>

            <!-- support varian lain (optional) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:pathPrefix="/google/callback"
                    android:scheme="potafull" />
            </intent-filter>

            <!-- Optional: dukungan untuk potaful (tanpa double L) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:pathPrefix="/callback"
                    android:scheme="potaful" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:pathPrefix="/google/callback"
                    android:scheme="potaful" />
            </intent-filter>

        </activity>

    </application>

</manifest>
